<div class="container">
  <%= render 'alerts' %>
  <% if user_signed_in?  %>
    <div class="row">
      <%= link_to 'Nova Postagem', new_post_path, class: "btn btn-success" %>
      <hr>
    </div>
  <% end  %>
  <div class="row">
    <% @posts.each do |post| %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="form-inline">
            <img src="http://lorempixel.com/48/48/people" class="img-circle">
            <h4 class="form-control"><%= post.user.first_name %></h4> 
          </div>
        </div>
        <div class="panel-body">
          <%= post.content %>
        </div>
      </div>
    <% end %>
  </div>
</div>
