<p>Olá <%= @resource.email %>!</p>
<p>Sua conta foi bloqueada pelo excessivo número de tentativas de login sem sucesso.</p>

<p>Clique no link a seguir para desbloquear sua conta:</p>

<p><%= link_to 'Desbloquear minha conta', unlock_url(@resource, unlock_token: @token) %></p>
